{% extends 'base.html' %}

{% block contents %}
<body>    
    <div class='container'>
        <h1>블로그에 새로운 글을 추가해보세요.</h1>

        <form action="{% url 'create' %}">
            <h4>제목: </h4>
            <div class="input-group mb-3">
                <input name="title" type="text" class="form-control" placeholder="your new Blog post's title" >
            </div>    

            <br>
            <br>
            <h4>본문: </h4>
            <textarea name="body" class="form-control" rows="10" placeholder="your new Blog post's contents"></textarea>
            <br>
            <br>
            <input class='btn btn-dark' type="submit" value='제출하기'>
        </form>       
    </div>
</body>
{% endblock %}
